<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Centrum Informacji Gastronomicznej</h1>
<h2>Rankingi</h2>

{% for ranking in rankings %}
    <h3>{{ ranking['name'] }}</h3>
    <ol>
        {% for restaurant in ranking.restaurants %}
            <li>[{{ restaurant['place'] }}] - {{ restaurant['name'] }}</li>
        {% endfor %}
    </ol>

{% endfor %}

<h2>Wszystkie knajpy</h2>


<ul>
    {% for restaurant in restaurants %}
        <li>{{ restaurant['name'] }}</li>
    {% endfor %}

</ul>

</body>
</html>